<div class="manage-entrys">
  <div class="entry-points">
    <div class="entry-title">Nodes Manage</div>
    <a href="/nodes/new" target="_self"><button class="kata-button primary-button">Create Node</button></a>
  </div>
</div>
