/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 0px;
  margin: 0px;
  color: #777;
  background-color: #EEE;
  font-family: "Helvetica", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.header {
  $header-min-width: 1100px;
  background-color: #353846;
  padding: 0 20px 0 20px;
  height: 44px;
  min-width: $header-min-width;
  .header-content {
    margin: 0 auto;
    width: $header-min-width;
    display: flex;
    justify-content: space-between;
    a.menu-link {
      $active-and-visited-color: #B9BABD;
      @mixin defaultA($font-color: #D6D6D6) {
        color: $font-color;
        text-decoration: none;
      }
      &:link, &:visited {
        @include defaultA;
      }
      &:hover, &:active {
        @include defaultA($active-and-visited-color);
      }
    }
    .logo {
      margin: 9px 0 0 0;
      color: #F8F8F8;
      text-decoration: none;
      font-size: 150%;
      font-weight: normal;
    }
    ul.menu-list {
      text-align: right;
      margin: 14px 0 0 0;
      list-style-type: none;
    }
    li.menu-item {
      padding: 0 3px 0 3px;
      display: inline;
    }
    input[type=text].search {
      height: 18px;
      border: 0;
      width: 300px;
      box-shadow: -7px 9px 0px -7px #EBEBEB;
      transition: box-shadow 0.3s;
      background: transparent;
      margin: 10px 0 0 -430px;
      font-family: inherit;
      font-size: 85%;
    }
    input[type=text].search:focus {
      outline: none;
      box-shadow: -7px 9px 0px -7px #D6D6D6;
      color: #F8F8F8;
    }
  }
}

.content {
  $content-min-length: 1090px;
  margin-top: 15px;
  min-width: $content-min-length;
  .left-and-right {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: $content-min-length;
    @mixin blockMixin($block-width) {
      margin: 0 auto;
      background-color: #FFF;
      padding: 10px;
      width: $block-width;
      border-radius: 10px;
    }
    .left {
        margin: 0 0 0 5px;
        .block {
          @include blockMixin(760px);
        }
    }
    .right {
        margin: 0 5px 0 0;
        .block {
          @include blockMixin(250px);
        }
    }
  }
}

.kata-form {
  fieldset {
    border: 0;
  }
  legend {
    width: 100%;
    color: black;
    font-size: 150%;
    border-bottom: 1px solid #E5E5E5;
    padding: .2em 0;
    display: block;
  }
  label {
    display: block;
    margin: .25em 0;
    line-height: 1.6;
  }
  @mixin inputText {
    display: block;
    font: inherit;
    padding: .5em .6em;
    border: 1px solid #CCC;
    box-shadow: inset 0 1px 3px #DDD;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
  }
  @mixin widthLength {
    &.short-width {
      width: 200px;
    }
    &.medium-width {
      width: 400px;
    }
    &.long-width {
      width: 600px;
    }
  }
  input {
    &[type=text], &[type=password] {
      @include inputText;
    }
    @include widthLength;
  }
  textarea {
    @include inputText;
    @include widthLength;
  }
  select {
    background-color: #FFF;
    @include inputText;
    @include widthLength;
  }
}

input[type=submit] {
  &.kata-button {
    margin: .75em 0;
    display: block;
    font-family: inherit;
    font-size: 100%;
    text-decoration: none;
    border-radius: 2px;
    padding: .5em 1em;
    border: 0 rgba(0,0,0,0);
    &.primary-button {
      background-color: #0078E7;
      color: #FFF;
    }
  }
}

.debug_dump {
  margin: 10px auto;
  background-color: #FFF;
  padding: 10px;
  width: 1070px;
  border-radius: 10px;
}

.message {
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  &.error-message {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
  }
  &.warning-message {
    color: #8A6D3B;
    background-color: #FCF8E3;
    border-color: #FAEBCC;
  }
}
