/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 0px;
  margin: 0px;
  font-family: "Helvetica", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.header {
  background-color: #353846;
  padding: 0 20px 0 20px;
  height: 44px;
  .header-content {
    margin: 0 auto;
    width: 1000px;
    a.menu-link {
      $active-and-visited-color: #B9BABD;
      @mixin defaultA($font-color: #D6D6D6) {
        color: $font-color;
        text-decoration: none;
      }
/*
      &:link {
        @include defaultA;
      }
      &:hover {
        @include defaultA($active-and-visited-color);
      }
      &:active {
        @include defaultA($active-and-visited-color);
      }
      &:visited {
        @include defaultA;
      }
*/
      &:link, &:visited {
        @include defaultA;
      }
      &:hover, &:active {
        @include defaultA($active-and-visited-color);
      }
    }
    .logo {
      text-align: left;
      font-size: 120%;
      font-weight: 120%;
    }
    ul.menu-list {
      list-style-type: none;
      text-align: right;
    }
    li.menu-item {
      display: inline;
    }
  }
}
