/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
    background: #2d3e50;
    a {
        color: #6FBEF3;
    }
}

.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.home-menu {
    .pure-menu-heading {
        color: white;
        font-weight: 400;
        font-size: 120%;
    }
    .pure-menu-selected a {
        color: white;
    }
    li a {
        &:hover, &:focus {
            background: none;
            border: none;
            color: #AECFE5;
        }
    }
}

.page {
    border-radius: 10px;
    background: rgb(252, 252, 252);
}

.page-content {
    padding: 10px;
}

@media (min-width: 48em) {
    body {
        font-size: 16px;
        background: rgb(240, 240, 240);
    }
    .home-menu {
        text-align: left;
        ul {
            float: right;
        }
    }
    .content {
        position: absolute;
        top: 72px;
        left: 0;
        right: 0;
        margin: 0 20px 0 20px;
    }
}
