// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  &.comment-text {
    resize: none;
    height: 130px;
  }
}

.comment {
  hr {
    margin: 20px 0;
    height: 3px;
    width: 100%;
    border-width: 0;
    background-color: #EBEBEB;
  }
  .single-comment {
    border-bottom: 1px solid #E5E5E5;
    margin: .3em 0;
    padding: .2em 0;
    display: block;
    .comment-body {
    }
    .comment-detail {
      margin: 10px 0;
      font-size: 70%;
    }
  }
}
