// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
  &.comment-text {
    resize: none;
    height: 130px;
  }
}

.comment {
  hr {
    margin: 20px 0;
    height: 3px;
    width: 100%;
    border-width: 0;
    background-color: #EBEBEB;
  }
  .comment-total {
    font-size: 85%;
    margin: .3em 10px;
  }
  .single-comment {
    align-items: center;
    .comment-right-part {
    }
    border-bottom: 1px solid #E5E5E5;
    margin: .3em 0;
    padding: .2em 0;
    .comment-body {
    }
    .comment-detail {
      margin: 10px 0;
      font-size: 70%;
    }
    .avatar {
      margin: 0 10px;
      img {
        border-radius: 4px;
      }
    }
  }
  .post-comment {
    display: flex;
  }
}

.comments {
  padding: 10px .2em;
  .comment-summary {
    border-bottom: 1px solid #E5E5E5;
    padding: .2em 0;
    display: block;
    .comment-summary-body {
      margin: 5px 0;
    }
    .comment-summary-detail {
      margin: 10px 0;
      font-size: 70%;
    }
  }
}
