// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messages {
  padding: 10px .2em;
  .message-summary {
    border-bottom: 1px solid #E5E5E5;
    padding: .2em 0;
    display: flex;
    align-items: center;
    .message-summary-right {
      .message-summary-chat-with {
        $chat-with-font-color: #9E9E9E;
        $chat-with-hover-font-color: #CCCCCC;
        color: $chat-with-font-color;
        margin: 5px 0;
        a {
          &:link, &:visited {
            color: $chat-with-font-color;
          }
          &:hover, &:active {
            color: $chat-with-hover-font-color;
          }
        }
      }
      .message-summary-body > span.message-unread {
        color: #0078E7;
      }
      .message-summary-time {
        margin: 10px 0;
        font-size: 70%;
      }
    }
    .avatar {
      margin: 0 10px;
      img {
        border-radius: 4px;
      }
    }
  }
}

.chat {
  .message {
    display: flex;
  }
  @mixin message-layout($textAlign, $justifyContent) {
    justify-content: $justifyContent;
    .user-profile {
      text-align: $textAlign;
      .avatar {
        img {
          border-radius: 5px;
        }
      }
      .name {
        font-size: 50%;
      }
    }
    .message-body {
      max-width: 250px;
      margin: 0 10px;
      padding: 10px;
      text-align: $textAlign;
      word-break: break-all;
      background-color: #EEE;
      border-radius: 10px;
    }
  }
  .message-left {
    @include message-layout(left, flex-start);
  }
  .message-right {
    @include message-layout(right, flex-end);
  }
}
