// Place all the styles related to the Nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.node {
  .node-summary {
    margin: 10px 0;
    font-size: 80%;
  }
  .node-action {
    a {
      &:link, &:visited {
        color: #0078E7;
      }
      &:hover, &:active {
        color: #353846;
      }
    }
    font-size: 80%;
  }
}
