// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


textarea {
  &.post-text {
    resize: none;
    height: 200px;
  }
}

.post {
  padding: 10px .2em;
  &.post-header {
    border-bottom: 1px solid #E5E5E5;
    padding: .2em 0;
    display: block;
    .post-title {
      margin: 5px 0;
      color: black;
      font-size: 150%;
    }
    .post-author {
      margin: 10px 0;
      font-size: 80%;
    }
  }
}

.posts {
  padding: 10px .2em;
  h3 {
    margin: 2px 0;
  }
  .post-summary {
    border-bottom: 1px solid #E5E5E5;
    padding: .2em 0;
    display: block;
    .post-summary-title {
      margin: 5px 0;
    }
    .post-summary-author {
      margin: 10px 0;
      font-size: 70%;
    }
  }
}
