// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  .profile-summary {
    display: flex;
    align-items: center;
    .avatar {
      img {
        border-radius: 4px;
      }
    }
    .profile-list {
      ul {
        padding-left: 15px;
        list-style-type: none;
      }
      li {
        padding: 1.5px;
      }
    }
  }
}

.avatar-setting {
  margin: 0 2px;
  padding: 0 0.75em;
  legend {
    width: 100%;
    color: black;
    font-size: 150%;
    border-bottom: 1px solid #E5E5E5;
    padding: .2em 0;
    display: block;
  }
  .current-avatar {
    img {
      border-radius: 4px;
    }
  }
}
